:root {
  font-family: "Open Sans", serif;
  color: rgba(112, 112, 112, 255);

  /* default */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgba(112, 112, 112, 255);
}

/* Header */
header {
  display: flex;
  justify-content: center;

  background-color: gray;
}

.header-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 70%;
}

.logo {
  height: 80px;
}

.header-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
}

.active {
  height: 100%;
  border-bottom: 5px solid rgba(2, 130, 249, 255);
}

/* Main */